/* CSS untuk layout website */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4D3417;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    width: 25%;
    background-color: #CEBCAB;
    padding: 20px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.content {
    background-color: #ECDFCE;
    flex-grow: 1;
    padding: 20px;
}



.content img {

    height: 300px;
}

.content img {

    height: 300px;
}

footer {
    background-color: #8E795C;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
}

button {
    padding: 10px 20px
    background-color : FBDFA2
}